#stableStaticsTable
  tbody
    tr
      td:hover
        .number-control
          display: inline-block !important
      td:nth-last-child(1)
        background-color: #ffedbd
        border-left: 1px solid black
    .number-control
      position: absolute
      right: 0px
      margin: auto 0px
  tfoot
    tr
      background-color: #e6ffff
    tr
    tr:nth-child(1)
      td, th
        border-top: 1px solid black
      td:nth-last-child(1)
        border-left: 1px solid black
        background-color: #e8ffdb
    